<ion-header>
  <ion-navbar>
    <ion-title>Company</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card *ngIf="company">
    <ion-card-header>
     {{company.name}} by {{company.founder}}, in {{company.founded}}
    </ion-card-header>
  
    <ion-card-content>
      <ion-badge item-end>{{company.employees}} employees</ion-badge>
      <p>
          {{company.summary}}
      </p>
    </ion-card-content>

    <ion-card-content>

        <ion-grid>
            <ion-row>
              <ion-col col-4>
                <ion-row>
                  <ion-col col-12>
                    <div class="rounded-icon">
                      <ion-icon name="ios-jet"></ion-icon>
                    </div>
                  </ion-col>
                  <ion-col col-12 class="text-center">
                      <b>{{company.vehicles}}</b>
                  </ion-col>
                </ion-row>
              </ion-col>

              <ion-col col-4>
                <ion-row>
                  <ion-col col-12>
                    <div class="rounded-icon">
                      <ion-icon name="ios-locate"></ion-icon>
                    </div>
                  </ion-col>
                  <ion-col col-12 class="text-center">
                      <b>{{company.launch_sites}}</b>
                  </ion-col>
                </ion-row>
              </ion-col>

              <ion-col col-4>
                <ion-row>
                  <ion-col col-12>
                    <div class="rounded-icon">
                      <ion-icon name="ios-build"></ion-icon>
                    </div>
                  </ion-col>
                  <ion-col col-12 class="text-center">
                      <b>{{company.test_sites}}</b>
                  </ion-col>
                </ion-row>
                </ion-col>
            </ion-row>
          </ion-grid>
    </ion-card-content>
  </ion-card>

<h2 style="color: white;">Historic</h2>

<ion-card *ngFor="let event of history">
  <div class="date">{{ event.event_date_utc  | date:'medium'}}</div>
  <ion-card-content class="text-center">
    <b>{{ event.title }}</b>
    <p>{{ event.details }}</p>
  </ion-card-content>

  <ion-grid>
    <ion-row>
      <ion-col col-4 class="text-center">
        <a href="{{ event.links.reddit }}">
          <ion-icon name="logo-reddit"></ion-icon>
        </a>
      </ion-col>
      <ion-col col-4 class="text-center">
        <a href="{{ event.links.article }}">
            <ion-icon name="ios-paper"></ion-icon>
        </a>
      </ion-col>
      <ion-col col-4 class="text-center">
        <a href="{{ event.links.wikipedia }}">
            <ion-icon name="ios-school"></ion-icon>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
    
</ion-card>

</ion-content>
