<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="information-circle"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card *ngIf="nextLaunch">
    <div  *ngIf="nextLaunch.links.mission_patch_small">
      <img src="{{nextLaunch.links.mission_patch_small}}"/>
    </div>

    <div  *ngIf="!nextLaunch.links.mission_patch_small">
      <img src="https://i.imgur.com/CfJi6rq.jpg"/>
      <div class="blured"></div>
    </div>
    <div class="card-title">
      {{nextLaunch.mission_name}}
      <br>
      <ion-badge item-end>Success</ion-badge>
    </div>
    
    <div class="card-subtitle" style="color: white !important;"><countdown units="Days | Hours | Minutes | Seconds"  end="{{nextLaunch.launch_date_local | date:'yyyy-MM-dd HH:mm:ss Z'}}"></countdown></div>
  </ion-card>

  <ion-list>
    <div class="search-bar">
      <div class="items">
          <ion-item>
              <ion-input [(ngModel)]="searchMission" type="search" placeholder="Search..." clearInput></ion-input>
          </ion-item>
      </div>
    </div>
      
    <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="launches">
        <ion-segment-button value="all" default>
            All
        </ion-segment-button>
        <ion-segment-button value="upcoming">
            Upcoming
        </ion-segment-button>
        <ion-segment-button value="past">
            Past
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

    <div [ngSwitch]="launches">
        <ion-list *ngSwitchCase="'all'">
          <ion-item *ngFor="let launch of allLaunches | filter : searchMission">
            <ion-thumbnail item-start>
              <img src="{{launch.links.mission_patch_small}}">
            </ion-thumbnail>
            <h2 [ngClass]="{'success':     launch.launch_success == true,
                            'fail':   launch.launch_success == false}">{{launch.mission_name}}</h2>
            <p>{{launch.details}}</p>
            <button ion-button clear item-end (click)="readMore(launch.flight_number)">Read More</button>
          </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'upcoming'">
          <ion-item *ngFor="let launch of upcomingLaunches | filter : searchMission">
            <ion-thumbnail item-start>
              <img src="{{launch.links.mission_patch_small}}">
            </ion-thumbnail>
            <h2 [ngClass]="{'success':     launch.launch_success == true,
                            'fail':   launch.launch_success == false}">{{launch.mission_name}}</h2>
            <p>{{launch.details}}</p>
            <button ion-button clear item-end (click)="readMore(launch.flight_number)">Read More</button>
          </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'past'">
          <ion-item *ngFor="let launch of pastLaunches | filter : searchMission">
            <ion-thumbnail item-start>
              <img src="{{launch.links.mission_patch_small}}">
            </ion-thumbnail>
            <h2 [ngClass]="{'success':     launch.launch_success == true,
                            'fail':   launch.launch_success == false}">{{launch.mission_name}}</h2>
            <p>{{launch.details}}</p>
            <button ion-button clear item-end (click)="readMore(launch.flight_number)">Read More</button>
          </ion-item>
        </ion-list>
    </div>

    

  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="text-center">
      <button ion-button class="btn menu-buttons" clear>
        <ion-icon name="flame"></ion-icon>
      </button>
      <button ion-button class="btn menu-buttons main-button" clear>
        <ion-icon name="home"></ion-icon>
      </button>
      <button ion-button class="btn menu-buttons" clear>
        <ion-icon name="text"></ion-icon>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
