// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.text-center {
    text-align: center;
}

// Reseting default button CSS for android
.btn {
    outline: 0 !important;
    outline-offset: 0  !important;
    background-image: none  !important;
    -webkit-box-shadow: none !important;
    box-shadow: none  !important;
}

.success {
    color: rgb(76, 190, 76);
}

.fail {
    color: rgb(223, 119, 81);
}

a {
    text-decoration: none;
}

.search-bar {
    position: relative;
    top: -30px;
    background: #fff;
    box-shadow: 1px 1px 10px #555;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    display: block;
    text-align: center;

    .items {
        padding: 5px 15px 5px 15px;

        ion-item {
            padding-left: 0px;
        }
        .text-input-wp {
            border: none;
        }
    }
}

.item {
    margin-bottom: 4px;
}

.list .item-block .item-inner {
    border: none;
}

.content{
    color:#ada4f6;
    background: #e7f1f7;
}

.bar-button-menutoggle{
    display: initial;
}

.footer{
    margin: 0;

    .menu-buttons {
        font-size: 25px;
    }

    .btn {
        color:#ccd8e1;
        height: 50px;
        padding: 0;
        margin: 0 1.2em;
    }
}

.toolbar-background {
    background: #e7f1f7;
}

.toolbar-title{
    color:#ada4f6;
    background: white;
}

.menu-left{
    .item {
        background: transparent;
    }
}